* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

.container-big {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 690px;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 138px;
}

.button {    
    color: white;
    background-color: #0061FF;
    display: inline-block;  
}

ul, ol {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
                
}

ul {
    display: flex;
    align-items: center;
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-6 {
    flex-basis: 50%;
}

.col-12 {
    flex-basis: 100%;
}

img {
    max-width: 100%;
}

/* Navigation bar */

.navigation-row {
    justify-content: space-between;
    align-items: center;
}

.list-items > * {
    display: block;
    line-height: 60px;
    padding: 0 20px;    
    font-size: 17px;
}

.sm-button {
font-size: 14px;
line-height: 30px;
padding: 0 20px;
}

.list-menu {
    padding: 0 30px;
}


/* Hero  */

.hero-section {
    background-color: #B4D0E7;
    margin-bottom: 80px;    
}

.hero-row {
    flex-wrap: wrap;
}

.hero-col {
    border: none;
}

.hero-title {
    width: 100%;    
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 50px;
    padding-top: 100px;  
       
}

.down-arrow {
    display: block;
    margin-top: 50px;
    font-size: 30px;

}

.hero-img {  
    padding-top: 30px;       
}

.med-button {
    line-height: 40px;
    padding: 0 10px;
}

.p-hero {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Plan */

h2 {
    font-size: 40px;
}

.billing-plan {
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mounth-plan {
    padding-right: 20px;
}

/* Plan Section 1 */
/* Professiona */

.col-pad {
    padding-right: 20px;    
}

.card {
    border: 1px solid black;
    height: 100%;    
}

.p-plan {
    line-height: 35px;
    text-align: center;
    border-bottom: 1px solid black;    
}

.main-plan {
    padding: 20px;
}

.title-pro {
    line-height: 40px;
    margin-bottom: 40px;
}

.title-size {
    font-size: 26px;
}

.price {    
    font-weight: bold;
}

.mounth-price {    
    color: gray;   
}

.pad-right-icon {
    padding-right: 10px;
}

.ul-plan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;    
}

.feature-item {
    display: flex;
}

.space-button { 
    display: flex;   
    margin-top: 90px;    
}

.big-button {
    white-space: nowrap;
    padding: 0px 40px;
    line-height: 50px;
    margin-bottom: 40px;
    text-align: center;
    width: 270px;
}

.underline-link {
    margin-bottom: 20px;
}

.underline-link a {
    text-decoration: underline;
    color: blue;
}

/* Advanced */

.space-button-adv {
    margin-top: 47px;
}

/* Termine modifiche */

.small-hr {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;     
}

.strong-dot {
    font-size: 18px;    
}

.check-icon {
    color: #0061FF;
}

/* Enterprise-Plus */

.col-ent-plus {
    margin-top: 20px;
    margin-bottom: 50px;
}

.main-ent {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.title-space {
    margin-bottom: 10px;
}

.strong {
    font-size: 18px;
}

.ent-p {
    padding: 20px;
}

/* Partner */

.partner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.grey-button {   
    width: 50%; 
    background-color: transparent;
    color: black;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
}

/* Dropbox Business */

.col-business {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
}

.card-business {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Team */

.under-margin {
    margin-top: 40px;
}

.team-support .container-big {
    padding-top: 100px;
}

.team-support .col-6 {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;   
} 

.team-support .col-6 img {
    width: 50%;
    filter: invert(100%);    
}


.green {
    background-color: #A2D39B;
    border: 20px solid #D1E9CD;

}

.bordeaux {
    background-color: #61082B;
}

.blue {
    background-color: #0093CE;

}

.red {
    background-color: #FF1C1C;
}

.col-4-grey {
    background-color: #F5F5F5;
}

.partners{
    /* background-color: #F5F5F5; */
    padding: 100px;    
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;

}

.partners-imgs::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.dark-red {
    background-color: #D5001F;
}

.light-blue {
    background-color: #B4D0E7;
}

.dark-blue {
    background-color: #0D2481;
}

.yellow {
    background-color: #FFD830;   
}

/* End Main */
.end-main .container-bg-blue {
    background-color: #B4D0E7;    
    
}

.end-main .small-container {
    padding-bottom: 138px;
}

.end-main .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.end-main .grey-button {
    border: none;
    width: 100%;
    text-align: center;
    background-color: white;
    line-height: 50px;    
    padding: 0 14px;
    white-space: nowrap;

}

.bordeaux-title {
    color: #61082B;
}

.ul-end {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
}

.end-items {
    font-weight: bold;
    font-size: 18px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    line-height: 100px;
}

.chev-mod {    
    font-size: 15px;
    padding-left: 125px;
    padding-right: 50px;

}

/* Footer Dropbox */

.footer-container {
    background-color: black;
    color: white;
}

footer .container {
    padding-top: 138px;
} 

footer .col {
    display: flex;
    gap: 100px;    
}

footer .ul-plan li {    
    white-space: nowrap;    
}

.footer-languages {
    margin-top: 100px;
    color: grey;
    border-top: 2px solid grey;
    line-height: 120px;
}

.footer-languages i {
    padding: 0 10px;
}




/* Debug */

/* .debug.hero-section {
    max-width: 100%;
    height: 600px;
} */

/* .debug.small-container {
    background-color: orange;
    height: 600px;
} */

/* .debug.col-3 {
    
    height: 600px;
} */



